table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.grayed-out-date{
    color:#c6cad1;
}
td{
    min-height:100px;
    max-height:150px;
}
.calendar{
    margin-left: auto;
    margin-right: auto;
}
.calendarPage__container{
    display:grid;
    grid-template-columns: 3fr 2fr;
}
.calendarTable__container{
    // width:840px;
}
.calendar__header{
    max-width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #001f3f;
    color: white;
    font-weight: bold;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    .calendar__date{
        margin:0 70px;
        font-size:2rem;

    }
    .calendar__btn{
        background:#001f3f;
        color:white;
        font-size: 2rem;
    }
    .btn:focus{
        outline: 0;
    }
}
.calendar__filterContainer{
    max-width:870px;
    display:flex;
    justify-content: center;
    height:45px;
    padding:10px;
    background:$navy-blue;
    color:white;
    span{
        margin-right:1rem;
    }
    div{
        color:white !important;
        *:after, *:before{
            border:none !important;
        }
        svg{
            color:white !important;
        }
    }
}
.calendar__filterContainer *:before,.calendar__filterContainer *:after{
    border:none !important;
}

.calendarTable{
    .calendar__weekDays{
        max-width: 870px;
        display:grid;
        background:#0074D9;
        grid-gap:4px;
        grid-template-columns: repeat(7,1fr);
        align-items: center;
        text-align: center;
        // width:840px;
        div{
            width: 120px;
            background:#0074D9;

        }
    }
    .calendar__days{
        max-width: 870px;
        padding-top: 5px;
        display:grid;
        grid-gap:4px;
        grid-template-columns: repeat(7,1fr);
        background:$calendar-background;
        color:black;
    }
    // table-layout: fixed;
    width: 100%;
    // td{
    //     display:flex;
    //     width:80px;
    //     height:100px;
    // } 
}
.calendarDay{
    cursor: pointer;
    overflow-y: auto;
    padding:5px;
    background:$calendar-full;
    display: flex;
    flex-direction: column;
    height: 100px;
    max-height: 100px;
    width: 120px;
    border-radius:0.5rem;
    .calendarDay__number{
        font-weight: bold;
    }
    .calendarDay__eventsCount{
        display:none;
    }
}

.calendarDay:hover{
    background:darken($calendar-full,15%);
}
.emptyDay{
    @extend .calendarDay;
    font-weight: 400;
    background:$calendar-empty;
    color:lighten(black,25%);
    
}

.weekDay{
    font-weight: bold;
}

.singleEvent{
    font-size:1rem;
    cursor: pointer;
    background:white;
    border-radius:2rem;
    opacity:0.8;
    margin: 2px 0;
    padding: 5px;
    transition: border-top 0.15s ease-in;
    font-weight:bold;
    word-break: break-word;

}
.singleEvent:hover{
    border-top:1.5px solid $esn-dark-blue;
}
.calendar__addNewEvent{
    margin-top:40px;
}
.createEvent__container{
    display:flex;
    justify-content: center;
    max-height:300px;
    transition: all 0.2s ease-out;
    overflow:hidden;

}
.createEvent__form{

    background:$esn-dark-blue;
    border-radius:1.5rem;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    max-height:320px;
    width:350px;
    color:white !important;
    div{
        margin:10px 0;
        display: flex;
        height: 30px;
        align-items: center;
        span{
            display:block;
            margin-right:20px;
            width:90px;
        }
    }
    
}
.calendarPage__collapsible__button{
    background-color:$esn-dark-blue;
    color:white;
    width:160px;
}

.createEvent__date{
    cursor: pointer;
    div{
        *{
            color:white !important;
            font-size:1.3rem;

        }
        *::before, *::after{
            border:none !important;
        }
    }
    *::before, *::after{
        border:none !important;
    }
}
.createEvent__description__container{
    height:80px !important;
}


.textFieldInput{
    *{
        background:white !important;
        font-size:1.3rem !important;
        width:200px !important;
        border-radius: 1.3rem;
        
    }
    input{
        padding-left:7px;
        padding-right:7px;
    }
    *::before, *::after{
        border:none !important;
    }
}
.textFieldInput--multiline{
    textarea{
        height: 70px !important;
        padding:7px !important;
    }
}
.createEvent__btn__container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createEvent__btn{
    background-color:#49CD49;
    color:black;
}
.createEvent__btn:focus{
    outline:0;
}
.createEvent__btn:hover{
    color:white;
    background-color:darken(#49CD49,15%);
}

.calendar__eventsToday__container{
    display: flex;
    grid-column: 1/3;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 40px;
}
.eventsToday__singleEvent{
    cursor: pointer;
    margin-bottom: 5px;
    opacity:0.93;
    width:450px;
    padding:1rem;
    background:$navy-blue;
    color:white;
    border-radius:1.5rem;
    font-size:1.3rem;
    div{
        display:flex;
        // align-items: center;
        flex-direction: row;
        padding:2px;
        div{
            width:100%;
        }
        span{
            align-self:center;
            display:block;
            min-width: 90px;
            width:90px;
            margin-right:20px;
        }
    }
}
.eventsToday__singleEvent:hover{
    background:lighten($navy-blue,15%);
    box-shadow:inset 0px 0px 11px 0px black;
}
.eventsToday__description{
    max-height:100px;
    overflow-y:auto;
    white-space: pre-wrap;
    word-break: break-word;
}
.noEvents{
    margin-top: 40px;
    width: 250px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width:1300px){
    .calendarPage__container{
        grid-template-columns: 1fr;
    }
    .calendar__eventsToday__container{
        grid-column: 1/2;
    }
}

@media (max-width:900px){
    .calendar__header,.calendar__days,.calendar__weekDays{
        max-width:590px !important;
    }
    .calendar__weekDays{
        div{
            width:80px !important;
        }
    }
    .calendarDay{
        width:80px;
        height: 80px;
    }
}

@media(max-width:600px){

    .calendarPage__container{
        justify-content: center;
    }
    .calendar__header,.calendar__days,.calendar__weekDays{
        max-width:300px !important;
    }
    .calendar__date{
        margin:0 !important;
    }
    .calendar__weekDays{
        div{
            width:36px !important;
            font-size:0.7rem;
        }
    }
    
    .calendarDay{

        width:36px;
        height: 36px;
        padding:0;
        text-align: center;
        .calendarDay__number{
            display:block;
            width:100%;
            height:100%;
        }
        .singleEvent{
            display:none;
        }
        .calendarDay__eventsCount{
            display:block;
            font-size: 7px;
        }
    }
    .emptyDay{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .createEvent__form{
        width:280px;
        div{
            *{
                font-size:1.1rem !important;
                width:160px !important;
            }
            input, textarea{
                
            }
            span{
                display:block;
                margin-right:20px;
                width:60px !important;
                font-size: 1rem !important;
            }
        }
    }
    .eventsToday__singleEvent{
        width:280px;
        div{
            span{
                font-size:1rem;
                width:50px !important;
                min-width: 50px !important;
            }
            div{
                width:180px;
                font-size:0.9rem;
            }
        }
        
    }
    .calendar__eventsToday__container{
        h2{
            font-size: 2.5rem;
            text-align: center;
        }
    }

}

.calendarDay::-webkit-scrollbar-track,.createEvent__description__container *::-webkit-scrollbar-track,
.eventsToday__description::-webkit-scrollbar-track,.calendar__eventsToday__container::-webkit-scrollbar-track
{
    border-radius:2em;
	background-color: #F5F5F5;
}

.calendarDay::-webkit-scrollbar,
{
    border-radius:2em;
	width: 5px;
	background-color: #F5F5F5;
}
.createEvent__description__container *::-webkit-scrollbar,.eventsToday__description::-webkit-scrollbar,.calendar__eventsToday__container::-webkit-scrollbar{
    border-radius:2em;
	width: 10px;
	background-color: #F5F5F5;
}
.calendarDay::-webkit-scrollbar-thumb
{
    border-radius:2em;
	background-color: $esn-dark-blue;	
	background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%)
}

.createEvent__description__container *::-webkit-scrollbar-thumb,.eventsToday__description::-webkit-scrollbar-thumb,.calendar__eventsToday__container::-webkit-scrollbar-thumb{

    border-radius:2em;
	background-color: #363636;	
	background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%)
}