.header{
    // display:flex;
    // align-items:center;
    // justify-content: space-between;
    background:lighten(rgb(34, 34, 34),5%);
    // background:lighten($dark-gray,10%);
    opacity:0.90;
    // border-bottom:1px solid $dark-gray;
    // height:8rem;
    // color:white;
}


.header__logo{
    margin-left:1rem !important;
}
.header__links{
    align-items:center;
}

@media (min-width:768px) and (max-width:992px){
    .navbar .container{
        width:100% !important;
        padding-right:0 !important;
        padding-left:0 !important;
    }
}

.navbar-nav > li > a {
   line-height: 50px;
   color:white !important;

}
.navbar-header{
    margin-right:0px !important;
}
.navbar-default .navbar-brand{
    color:white !important;
    font-size:2.3rem;
    font-weight:bold;
}

.header__link{
    
    padding:0 1.5rem;
    line-height:50px;
    border-right:1px solid $dark-gray;
    align-self:center;
    text-decoration: none;
}



.header__link--dropdown{
    height:50px;
    background-color:lighten(rgb(34, 34, 34),5%);
    color:white;
    width:100%;
    
}
.header__link--dropdown__text{
    height:100%;
    line-height:50px;
}

.header__link--dropdown:hover{
    background-color:darken($esn-blue,20%);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
}
.dropdown-menu{
    border:none;
    padding:0;
    >li >a{
        width:100%;
        text-align: center;
        padding:0;
    }
}
.header__link:hover{
    background-color:darken($esn-blue,20%);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
}

.header__link--first{
    @extend .header__link;
    border-left:1px solid $dark-gray;
}
.header__link--logout{
    @extend .header__link;
    line-height:0 !important;
    
}

.header .container{
    width: 100%;
    text-align:center;
    margin:0;
    padding:0;
}

.navbar-toggle{
    margin:20px 20px 20px 0;
}

.dropdown-toggle{
    background-color:transparent !important;
}

@media(max-width:1200px){
    .header__link{
        font-size:1.1rem;
        padding:0 1rem;
    }
    
}
@media(max-width:900px){
    .header__link{
        font-size:0.9rem;
        padding:0 0.4rem;
    }
    
}
@media (max-width:768px){
    .header__link{
        font-size:1.8rem;
        border-right:0px;
        border-left:0px;
        border-bottom:1px solid $dark-gray;
        text-align:left;
    }
    .header__link--dropdownList:hover{
        background-color:lighten(rgb(34, 34, 34),5%);
    }
    .dropdown-toggle:hover{
        background-color:darken($esn-blue,20%) !important;
        box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75) !important;
        *{
            color:white;
            
        }
    }
    
}

 