.ReactModalPortal > div{
    opacity:0;
}

.ReactModalPortal .ReactModal__Overlay{
    display:flex;
    justify-content:center;
    align-items:center;
    transition:opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity:1
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity:0
}

.infoModal__name__error{
    text-align:center;
    font-weight:bold;
    font-size:2rem;
    color:darken($warning,15%);
}
.infoModal__description__error{
    text-align:center;
    font-weight:bold;
    color:darken($warning,15%);
}
.modal--info{
    background-image:url('../resources/graphics/prism.png');
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    color:white;
}

.infoModal__name{
    color:white;
    text-align:center;
    font-weight: bold;
    font-size:3rem;
    margin:0;
    word-break: break-word;
    background:$esn-orange;
    height:100%;
    max-height:140px;
    padding:1rem;
}

.infoModal__name--edit{
    text-align:center;
    width:100%;
    padding:1rem;
    font-weight: bold;
    max-height:120px;
    border-radius:1rem;
    // background:lighten($esn-orange,10%);
}

.infoModal__name--edit *{
    font-size:2rem !important;
    color:white !important;   
    padding:1rem;
    margin:10px 0;
    textarea{
        border-radius:1rem;
        height:80px !important;
        max-height:120px;
    }
}   

.infoModal__name--edit *:before{
    
    border:none !important;
}
.infoModal__name--edit *:after{
    border:none !important;
}

.infoModal__name--new{
    @extend .infoModal__name--edit;
    background:$esn-orange;
    textarea{
        height:60px !important;
    }
    label{
        padding-left:3rem;
    }
}


.infoModal__description{
    margin:10px 0;
    text-align: left;
    word-break: break-all;
    white-space: pre-wrap;
    max-height:400px;
    height:100%;
    min-height:400px;
    overflow-y:auto;
    padding: 1rem;
}
.infoModal__description--edit{
    padding:1rem;
    margin:10px 0;
    font-size:1.6rem;
    background-image:url('../resources/graphics/prism.png');
    max-height:400px;
    height:100%;
    min-height:400px;
    width:100%;
    
}
.infoModal__description--edit *{
    font-size:1.6rem !important;
    color:white !important;   
    padding:1rem;
    margin:10px 0;
}   

.infoModal__description--edit *:before{
    border:none !important;
}
.infoModal__description--edit *:after{
    border:none !important;
}

.infoModal__description--new{
    @extend .infoModal__description--edit;
    textarea{
        height:350px !important;
    }
    label{
        padding-left:3rem;
    }
}

.infoModal__buttons{
    display:flex;
    justify-content:space-around;

    .btn{
        opacity:1;
        width:10rem;
        height:3.5rem;
    }
}
// .modal__title{
//     margin: 0 0 $m-size 0;
// }

// .modal__body{
//     font-size:2rem;
//     font-weight:300;
//     margin: 0 0 $l-size 0;
//     word-break: break-all;
// }

.infoModal__name--edit *::-webkit-scrollbar-track, .infoModalDescription__scrollBar::-webkit-scrollbar-track , .infoModal__description--edit *::-webkit-scrollbar-track
{
    border-radius:2em;
	background-color: #F5F5F5;
}

.infoModal__name--edit *::-webkit-scrollbar, .infoModalDescription__scrollBar::-webkit-scrollbar , .infoModal__description--edit *::-webkit-scrollbar
{
    border-radius:2em;
	width: 10px;
	background-color: #F5F5F5;
}
.infoModalDescription__scrollBar::-webkit-scrollbar-thumb , .infoModal__description--edit *::-webkit-scrollbar-thumb
{
    border-radius:2em;
	background-color: $esn-orange;	
	background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%)
}

.infoModal__name--edit *::-webkit-scrollbar-thumb{
    border-radius:2em;
	background-color: #363636;	
	background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%)
}


@media (max-width:480px){
    .modal{
        width:340px;
    }
}

@media (max-width:360px){
    .modal{
        width:280px;
    }
    .infoModal__name__error{
        font-size:1.2rem;
    }
}

@media (max-height:640px){
    .modal{
        min-height:400px;
        height:400px;
    }
    
    .infoPost__name__container{
        height:60px;
    }
    .infoModal__description{
        min-height:240px;
        height:240px;
        max-height:240px;
        font-size:1.3rem;
    }
    .infoModal__name{
        font-size:1.5rem;
    }
    .infoModal__buttons .btn{
        height:2.4rem;
        font-size:1rem;
    }
    .infoModal__description--edit{
        min-height:220px;
        height:220px;
        max-height:220px;
        textarea{
            height:200px !important;
            max-height:200px !important;
        }
    }
    .infoModal__name--edit{
        max-height:80px;
        textarea{
            
            height:80px !important;
            max-height:80px;
        }

    }
    .addInfoPost__form{
        grid-template-rows: 2fr 5fr 1fr !important;
    }

    .infoModal__description--new{
        min-height:240px;
        height:240px;
        max-height:240px;
        font-size:1.3rem;
    }
    .infoPost__description__container{
        height:240px;
    }
    .infoModal__name--new{
        textarea{
            height:50px !important;
        }
        label{
            display:none !important;
            padding-left:3rem;
            font-size:1rem !important;
        }
    }
    .addInfoPost__btn{
        height:35px !important;
    }
    
}

.addInfoPost__form{
    display:grid;
    grid-template-rows: 2fr 7fr 1fr;
    .btn{
        width:120px;
        height:50px;
    }
}