.toDoPage{

    .btn:hover, .btn:focus{
        color:white;
        background-color:lighten($esn-dark-blue,20%);
    }
}
.toDoPage__allPosts{
    margin:10px 20px 30px 20px;
    padding:10px;
}
.toDoPage__collapsible__button{
    background-color:$esn-dark-blue;
    color:white;
    width:160px;
}
.toDoPage__dataManagement{
  height:200px;
  max-height:0;
  width:300px;
  background:$esn-dark-blue;
  color:white;
  border-radius:2rem;
  padding:0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  transition: all 0.2s ease-out;
  overflow:hidden;
}

.toDoPage__sorting{
    display:flex;
    margin-bottom:20px;
    justify-content: center;
    div{
        *{
            color:white !important;
        }
    }
    *::before, *::after{
        border-color: $lighter-gray !important;
    }
    p{
        margin: 0;
        margin-right: 20px; 
    }
}

.toDoPage__filtering{
    .filtering__type{
        margin-left:20px;
        display:flex;
        p{
            margin: 0;
            margin-right: 20px;
        }
        div{
            *{
                color:white !important;
            }
        }
        *::before, *::after{
            border-color: $lighter-gray !important;
        }
    }
    .filtering__text{
        display:flex;
        margin: 10px 0 20px 20px;
        align-items:flex-end;
        p{
            margin: 0;
            margin-right: 20px;
        }
        div{
            *{
                color:white !important;
            }
        }
        *::before, *::after{
            border-color: $lighter-gray !important;
        }
    }
}
.btnNewToDoPost{
    background:$esn-dark-blue;
    color:white;
}
.toDoPage__btnContainer{
    text-align:center;
}

.toDoPost{
    border: 1px solid black;
    border-radius:1rem;
    background:white;
    opacity:0.8;
    display:grid;
    grid-template-rows:1fr auto;
    grid-template-columns: 3fr 1fr;
    padding:0 1.5rem 1.5rem 1.5rem;
    margin-bottom:2rem;
    transition:margin 0.2s ease-in;
}
@media (min-width:1000px){
    .toDoPost{
        margin-left:150px;
        margin-right:150px;
    }
}

.toDoPost:hover{
    background-image:url('../resources/graphics/prism.png');
    color:white;
    .toDoPost__date{
        color:$esn-blue;
    }
}
.toDoPost__name{
    margin-left:30px;
    max-width:400px;
    overflow: hidden;
}

.toDoPost__descriptionContainer{
    grid-column: 1/3;
    .text-center{
        font-size:1.2rem;
        font-weight: bold;
    }
}
.toDoPost__description{
    font-size:1.9rem;
    padding: 0 10px;
    margin:15px 0;
    grid-column: 1/3;
    max-height:150px;
    word-wrap: break-word;
    word-break: break-word;
    white-space:pre-wrap;
    overflow-y:auto;
}
.toDoPost__date{
    color:$esn-dark-blue;
    font-weight: bold;
    font-size:0.8rem;
    text-align: center;
    grid-column: 1/3;
}
.toDoPost__reviews{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}
.toDoPost__recommended__container{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toDoPost__recommended__separator{
    margin:0 10px;
}
.toDoPost__recommended{
    margin-right:6px;
    background:#49CD49;
    border-radius:50%;

    i{
        height: 30px;
        text-align: center;
        width: 30px;
        line-height: 30px;
    }
}
.toDoPost__recommended__container, .toDoPost__notRecommended__container{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toDoPost__notRecommended{

    margin-left:6px;
    background:$warning;
    border-radius:50%;

    i{
        height: 30px;
        text-align: center;
        width: 30px;
        line-height: 30px;
    }
}


.toDoPost__description::-webkit-scrollbar-track
{
    border-radius:2em;
	background-color: #F5F5F5;
}

.toDoPost__description::-webkit-scrollbar
{
    border-radius:2em;
	width: 10px;
	background-color: #F5F5F5;
}

.toDoPost__description::-webkit-scrollbar-thumb
{
    border-radius:2em;
	background-color: $esn-dark-blue;	
	background-image: -webkit-linear-gradient(90deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%)
}

.toDoPage__pagination__button{
    a{
        background-image:url('../resources/graphics/prism.png') !important;
        color:white;
        width:150px;
        margin:0 2rem;
    }
    a:hover{
        color:lighten($esn-dark-blue,15%);
    }
}

@media (max-width:640px){
    .toDoPost__name{
        font-size:1.6rem;
        margin-right:15px;
    }
    .toDoPost__description{
        font-size:1.3rem;
    }
}