// Colors
$esn-blue:#00AEEF;
$esn-pink:#EC008C;
$esn-orange:#F47B20;
$esn-dark-blue:#2E3192;
$esn-green:#7AC143;
$light-gray:#94999C;
$lighter-gray:#D1D5D1;
$dark-gray:#363839;
$warning:#dc3545;
// Spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;